

<ion-header>
  <ion-toolbar>
    <ion-title>Books List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of filteredBooks">
      <ion-label>{{ book.title | titlecase }}</ion-label>
      <ion-img [src]="'https://robohash.org/' + generaNss()"
      alt="img-robot"
      style="margin-top: 10px; width: 100px; height: auto;"
      ></ion-img>

    </ion-item>




  </ion-list>

  <!-- Spinner de carga -->
  <ion-spinner *ngIf="loading" class="loading-spinner"></ion-spinner>

</ion-content>
